@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="starter">
    <div id="welcome">
        <h1>Travelove4U</h1>
        <p>Our goal is your joy!</p>
    </div>

</div>


<div class="row">
    <div class="column">
        <h2>
            <a class="text" asp-area="" asp-controller="Home" asp-action="caracas"><strong>Caracas -  ablessing and a curse</strong></a>
        </h2>
        <div1 classname="image-container">
            <img id="caracas" src="https://www.kayak.pl/rimg/dimg/cf/40/a5abdc30-city-990-1658b9a405e.jpg?width=1366&height=768&xhint=2112&yhint=1018&crop=true" />
        </div1>
        <div>
            <h2>Introduction</h2>
            <p>Caracas is the capital and largest city of Venezuela. It is located in the northern part of the country, in the Venezuelan coastal mountain range. With a population of over 3 million people, Caracas is a bustling metropolis that offers a unique blend of modernity and history.</p>
        </div>
        <h2>Top Attractions</h2>
        <ul>
            <li>
                <strong>Mount Avila:</strong> A popular hiking destination with stunning views of the city.
            </li>
            <li>
                <strong>The National Pantheon:</strong> A historic church that contains the remains of several Venezuelan heroes and presidents.
            </li>
            <li>
                <strong>La Plaza Bolivar:</strong> A beautiful square surrounded by historic buildings and monuments.
            </li>
        </ul>
        <h2>Travel Information</h2>
        <div class="highlight">
            <p>The official language of Venezuela is Spanish, so English speakers may want to brush up on a few key phrases before traveling. The currency in Venezuela is the Bolivar Fuerte. Credit cards are widely accepted, but it's always a good idea to have some local currency on hand for smaller vendors and tips.</p>
            <p>Caracas is served by Simon Bolivar International Airport, which is located about 20 miles from the city center. There are several transportation options available from the airport, including taxis, buses, and rental cars.</p>
        </div>
    </div>


    <div class="row">
        <div class="column">
            <h2>
                <a class="text" asp-area="" asp-controller="Home" asp-action="philippines"><strong>Philippines - a paradise of 7,000 islands</strong></a>
            </h2>
            <div class="image-container">
                <img id="philippines" src="https://i.natgeofe.com/n/04505c35-858b-4e95-a1a7-d72e5418b7fc/steep-karst-cliffs-of-el-nido-in-palawan.jpg" />
            </div>
            <div>
                <h2>Introduction</h2>
                <p>The Philippines is an archipelago of over 7,000 islands in Southeast Asia. It is known for its stunning beaches, rich biodiversity, and vibrant culture. The capital city, Manila, is a bustling metropolis that offers a unique blend of modernity and history, while the rural areas of the country offer a glimpse into traditional Filipino life.</p>
            </div>
            <h2>Top Attractions</h2>
            <ul>
                <li>
                    <strong>Boracay:</strong> A small island in the Visayas region known for its powdery white sand beaches and crystal-clear waters.
                </li>
                <li>
                    <strong>Palawan:</strong> An island province in the western part of the country known for its stunning natural beauty, including limestone cliffs, lagoons, and underwater caves.
                </li>
                <li>
                    <strong>Chocolate Hills:</strong> A geological formation in Bohol made up of over 1,000 cone-shaped hills that turn brown during the dry season.
                </li>
            </ul>
            <h2>Travel Information</h2>
            <div class="highlight">
                <p>The official language of the Philippines is Filipino, but English is widely spoken throughout the country. The currency in the Philippines is the Philippine Peso. Credit cards are widely accepted in urban areas, but it's always a good idea to have some local currency on hand for smaller vendors and tips.</p>
                <p>The Philippines is served by several international airports, including Ninoy Aquino International Airport in Manila and Mactan-Cebu International Airport in Cebu. There are several transportation options available from the airport, including taxis, buses, and ride-sharing services.</p>
            </div>
        </div>
    </div>


